<section class="hero is-success">
  <div class="hero-body">
    <p class="title">We sent you an email with a link to login.</p>
    <p class="subtitle">
      Please check your inbox and click on the link.
    </p>
    <p>Feel free to close this page.</p>
  </div>
</section>
