<h1>Your Login-link from meerkat.camp</h1>

<p>You are receiving this mail, because you wanted to login to meerkat.camp.</p>

<p>Please click on the following link to login:</p>

<a href="<%= login_token_url(token: @token) %>">Login to meerkat.camp</a>
