<% checkbox_id = "#{form.object_name}_#{attribute}" %>
<label class="label is-bold" for="<%= checkbox_id %>">
  <%= form.object.class.human_attribute_name(attribute) %>
  <%= form.check_box(attribute, class: 'checkbox', id: checkbox_id) %>
</label>

<%= help_text %>
