<div class="field">
  <%= form.label(attribute, class: 'label') %>
  <div class="control">
    <%= form.datetime_field(attribute, value: , step: 1.minute, class: input_classes) %>
    <%= help_text %>
  </div>
</div>

