<div class="field">
  <%= form.label attribute, class: 'label' %>
  <div class="control">
    <%= form.text_field attribute, class: input_classes, placeholder: placeholder, data: data, autocomplete: 'off' %>
    <%= help_text %>
  </div>
</div>

