<div class="field" data-controller="slug"
data-post_form-target="titleAndSlug" data-slug-url-value="<%= slugs_path %>">
  <%= helpers.component(
    'form/text_field',
    form:, attribute: :title,
    data: { slug_target: 'title', action: 'slug#generate' }
  ) %>
  <%= helpers.component(
    'form/text_field',
    form:, attribute: :slug,
    data: { slug_target: 'slug', action: 'slug#validate' }, placeholder: '/a-nice-slug'
  ) %>
</div>
