<table class="table is-bordered is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Path</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'pages/page', collection: @pages %>
  </tbody>
</table>

