<div data-controller="modal">
  <div class="mb-2">
    <button class="button" data-action="modal#open">
      📢 <%= t('social_media_links.add_new') %>
    </button>
  </div>
  <dialog data-modal-target="modal">
    <div class="modal is-active">
      <div clas="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title"><%= t('social_media_links.add_new') %></p>
          <button class="delete" data-action="modal#close"></button>
        </header>
        <%= render('social_media_links/form', social_media_link:)%>
      </div>
    </div>
  </dialog>
</div>
