<table class="table is-bordered is-fullwidth">
  <thead>
    <tr>
      <th>Url</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @deployment_targets %>
  </tbody>
</table>
