<%= turbo_frame_tag(post) do %>
  <article>
    <% if post.title.present? %>
      <h1 class="title is-4">
        <%= post.title %>
      </h1>
    <% end %>

    <div class="content">
      <%= link_to('Edit', edit_site_post_path(current_site, post), data: { turbo_frame: :content }, class: 'button is-small') %>
      &nbsp;
      <%= link_to('Delete', site_post_path(current_site, post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'button is-small') %>
    </div>
    <hr>
  </article>
<% end %>
