{
        on_demand_tls {
                ask https://meerkat.camp/api/caddy/check_domain
        }
}

https:// {
        tls {
                on_demand
        }

        root * /static/{host}
        file_server
}
