{
        on_demand_tls {
                ask https://meerkat.camp/api/caddy/check_domain
        }
}

https:// {
        tls {
                on_demand
        }

        root * /static/{host}
        file_server {
          precompressed br gzip
        }

        @static {
          file
          path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.webp *.avif
        }
        header @static Cache-Control max-age=5184000
}
