<%= turbo_stream_from(site, "notices") %>

<%= turbo_frame_tag "notices" do %>
  <%- if notice %>
    <div data-controller="notice" class="notification is-info mb-6">
      <button class="delete" data-action="click->notice#close"></button>
      <%= notice.html_safe %>
    </div>
  <% end %>
<% end %>
